<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PostStar.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PostStar.Gui.Properties.Settings>
      <setting name="nickName" serializeAs="String">
        <value>영업1팀 홍길동</value>
      </setting>
      <setting name="alertOption_Display" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="alertOption_UseSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="trayOption_RecentMessage" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="retrySendOptoin_Retry" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autoRunOption" serializeAs="String">
        <value>False</value>
      </setting>
    </PostStar.Gui.Properties.Settings>
  </userSettings>
</configuration>
